<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%-5p] %logger{16} - %msg %n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="co.wangming.dragonfly.agent.transform.adaptor" level="warn"></logger>
    <logger name="co.wangming.dragonfly.agent.transform.chain" level="warn"></logger>
    <logger name="co.wangming.dragonfly.agent.transform.interceptor" level="warn"></logger>
    <logger name="co.wangming.dragonfly.agent.transform.transformer" level="debug"></logger>
    <logger name="co.wangming.dragonfly.agent.advise" level="warn"></logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
